body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}



#titre {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#stats {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

#stats th, #stats td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#stats th {
    background-color: #333;
    color: #fff;
}

#stats .pale {
    background-color: #f9f9f9;
}

#stats .foncer {
    background-color: #e6e6e6;
}

#screenshotButton {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: auto; /* Au milieu en bas */
}

#screenshotButton:hover {
    background-color: #555;
    color: #fff;
}
